@font-face {
  font-family: 'alte_haas_grotesk_regular';
  src: url('../media/fonts/alte_haas_grotesk_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'alte_haas_grotesk_bold';
  src: url('../media/fonts/alte_haas_grotesk_bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'alegreya-black';
  src: url('../media/fonts/alegreya-black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'alegreya-blackitalic';
  src: url('../media/fonts/alegreya-blackitalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'alegreya-extrabolditalic';
  src: url('../media/fonts/alegreya-extrabolditalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'alegreya-italic';
  src: url('../media/fonts/alegreya-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'alegreya-bold';
  src: url('../media/fonts/alegreya-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'alegreya-medium';
  src: url('../media/fonts/alegreya-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'alegreya-bolditalic';
  src: url('../media/fonts/alegreya-bolditalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'alegreya-mediumitalic';
  src: url('../media/fonts/alegreya-mediumitalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'alegreya-extrabold';
  src: url('../media/fonts/alegreya-extrabold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'alegreya-regular';
  src: url('../media/fonts/alegreya-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}