/*-------------------/
  @ Reset
/-------------------*/

*           { margin:0;padding:0;border:0;outline:0;text-decoration:none;font-weight:inherit;font-style:inherit;color:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;list-style:none;border-collapse:collapse;border-spacing:0; -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
*:focus     { outline: none}
::selection { background: #eee; opacity:1.0; color:#000; padding:10px; /* Safari */ }

@font-face { font-family: 'alte_haas_grotesk_regular'; src: url('../media/fonts/alte_haas_grotesk_regular.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'alte_haas_grotesk_bold'; src: url('../media/fonts/alte_haas_grotesk_bold.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'alegreya-black'; src: url('../media/fonts/alegreya-black.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'alegreya-blackitalic'; src: url('../media/fonts/alegreya-blackitalic.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'alegreya-extrabolditalic'; src: url('../media/fonts/alegreya-extrabolditalic.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'alegreya-italic'; src: url('../media/fonts/alegreya-italic.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'alegreya-bold'; src: url('../media/fonts/alegreya-bold.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'alegreya-medium'; src: url('../media/fonts/alegreya-medium.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'alegreya-bolditalic'; src: url('../media/fonts/alegreya-bolditalic.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'alegreya-mediumitalic'; src: url('../media/fonts/alegreya-mediumitalic.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'alegreya-extrabold'; src: url('../media/fonts/alegreya-extrabold.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'alegreya-regular'; src: url('../media/fonts/alegreya-regular.ttf') format('truetype'); font-weight: normal; font-style: normal; }

body { background:#000; color:#fff; font-family: 'alegreya-regular', serif;  overflow-x: hidden}

p { display: block;max-width: 600px;color: #999;font-size: 23px;margin: 0px auto 30px auto;line-height: 32px;}
p.main { font-weight: bold; margin-bottom: 30px;}
p a { color:white; text-decoration: underline; }
b { font-weight: bold }
table { margin-bottom: 30px}
h { display: inline-block;vertical-align: top; width:calc(50% - 5px)}
hr { clear:both; }
h3 {font-size: 23px; margin-bottom: 10px}

header { display: block;background: #eee;text-align: center;color:#111;padding:40px 0px 10px;}
header h1 { font-size: 40px; text-transform: uppercase; letter-spacing: 6px; font-weight: normal; font-family: "alegreya-extrabold"; margin-bottom:15px;}
header h2 { font-size:30px;position: fixed;top:10px;left:20px; font-family: "alegreya-bold"; }
header h2:hover { color:white; }
header ul { display: block; text-align: center; font-family: "alegreya-bold"; font-size:20px; padding: 20px; margin-bottom: 10px }
header ul li { display: inline-block; }
header ul li a { display: inline-block;background-size: 100px;background-repeat: no-repeat;background-position: center top;padding-top:100px;min-width: 100px; transition: all 250ms }
header ul li a:hover { cursor: pointer; text-decoration: underline; background-position:center -5px;}

header ul li a.about { background-image: url(../media/interface/menu/about.png);  }
header ul li a.projects { background-image: url(../media/interface/menu/projects.png);  }
header ul li a.illustration { background-image: url(../media/interface/menu/illustration.png);  }
header ul li a.stories { background-image: url(../media/interface/menu/stories.png);  }
header ul li a.store { background-image: url(../media/interface/menu/store.png);  }
header ul li a.notes { background-image: url(../media/interface/menu/notes.png);  }
header ul li a.characters { background-image: url(../media/interface/menu/characters.png);  }

main { max-width: 800px; margin: 0px auto; }

main { display:block; max-width:960px; margin:0px auto; margin-bottom: 45px; transition: opacity 250ms; color:white; padding:30px }
main img.main { width: 100%;max-width: 100% !important; border-radius: 3px; margin-bottom: 30px }
main p.caption { font-style: italic; color:#999; font-size:16px; }
main img.thumbnail { width:33.33%; display:block; float:left; }
main p.intro {text-align: center;}
main h3 { max-width: 600px; display: block; font-size: 24px;line-height: 30px;color:#999;font-weight: bold; margin:0px auto 30px; }
main columns { max-width: 800px; display: block;columns: 2;column-gap: 30px;margin-bottom: 45px;margin:0px 10px 30px; padding: 0px 30px }
main columns h2 { display: block;font-size: 30px;color: #fff;margin-bottom: 30px;font-weight: normal;text-transform: uppercase;border-bottom:1px solid white;padding-bottom:20px; break-before: column  }
main columns p { font-size: 20px;font-weight: normal;line-height: 28px;color: #ccc;padding-right: 45px;font-family: 'alegreya-regular'}
main columns p a:hover { text-decoration: underline; }
main columns ul { display: block;margin-left:30px;font-size:18px;margin-bottom:30px; line-height: 26px }
main columns ul li {}
main columns a:link {text-decoration: none}
main columns a:hover {text-decoration: underline}
main columns list { margin-bottom:30px; }
main > wr { padding:0px !important; display: block; padding:0px 30px; }
main > wr > .third { display: block;float: left;width: 33.33%; text-align: center; margin-bottom: 15px;}
main > wr > .third img { width: calc(100% - 15px);display: block;margin: 0px auto 20px;border-radius: 3px; }
main > wr > .third h2 {font-family: 'alegreya-regular';font-size: 20px;margin-bottom: 10px; padding: 20px; }
main list { max-width: 600px; margin:0px auto; display: block; margin-bottom:30px; }
main list ln { display: block; font-size:20px; }
main list ln a { text-decoration: none;}
main list ln a:hover { text-decoration: underline; }
main ul { max-width: 600px; margin:0px auto; display: block; margin-bottom:30px; font-size: 18px;line-height: 26px}
main ul li {}
main ul li a { font-family: 'alegreya-bold'}
main img.thumbnail { border-radius: 3px;max-width: calc((100% / 3) - 20px);margin: 10px}
main gallery { display: block; }
main gallery img { max-width: calc(25% - 20px);border-radius: 3px;margin: 10px;display: block;float: left;}
main gallery hr { margin-bottom:30px; }
main quote { display: block }
main quote p.text { font-size:20px; font-style: italic; color:white;}
main quote p.attrib { font-size:16px; padding-left:30px; }
main quote p.attrib:before { content:"— "; }
main a.buybutton { font-family: "alte_haas_grotesk_bold";font-size: 15px;border-radius: 100px;background:#e85b46;color:white;line-height: 30px;display: inline-block;margin: 0px auto 20px;padding: 0px 20px;}
main a.buybutton:hover { background:#555; color:black; }
main a.soldbutton { font-family: "alte_haas_grotesk_bold";font-size: 15px;border-radius: 100px;background:#555; color:black;line-height: 30px;display: inline-block;margin: 0px auto 20px;padding: 0px 20px;}
main gallery.thumbnails img { max-width: calc((100% / 3) - 20px) }

footer { display: flex; width: 100%; background: #fff; color: #000; padding: 30px 0; }
footer a.about { font-weight: bold; display: inline-block; margin-top:5px; }
footer a.about:hover { text-decoration: underline; }
footer .footer_social { padding:7px; width: 20px; height: 20px; position: relative; }
footer .footer_social:hover { opacity: 0.5 }
footer .footer_item_sub-item { display: flex; justify-content: flex-end; }
footer .footer_item { width: 50%; }
footer .footer_left { margin-left: 30px; }
footer .footer_right { margin-right: 30px; display: flex; justify-content: flex-end; align-items: center; }
footer .footer_social_twitter::before { background: url("../media/interface/icon.twitter.png"); }
footer .footer_social_patreon::before { background: url("../media/interface/icon.patreon.png"); }
footer .footer_social_webring::before { background: url("../media/interface/icon.webring.png"); }
footer .footer_social_100r::before { background: url("../media/interface/icon.100r.png"); }
footer .footer_social_github::before { background: url("../media/interface/icon.github.png"); }
footer .footer_social_mastodon::before { background: url("../media/interface/icon.mastodon.png"); }
footer .footer_social::before { content: ''; position: absolute; height: 20px; width: 20px; background-size: 100%; background-position: center; filter: invert(100%); left: 50%; transform: translate(-50%); }

/* To Clean */

yu { display: block }

img.grey { -webkit-filter: grayscale(100%);filter: grayscale(100%);transition: all 0.5s ease;}
img.grey:hover {-webkit-filter: grayscale(0%);filter: grayscale(0%);}

img.lightbox { cursor: pointer; transition: opacity 500ms}
img.lightbox:hover { opacity: 0.8 }


#social, #projects, #gallery, #stories, #books { margin-bottom: 30px }
#social img { max-width: 2%; border-radius: 3px; margin: 5px }

#home img { max-width: 100% }

a.button { font-size: 20px; border-radius: 100px; background:#fff; color:black; padding:0px 15px; line-height: 30px; display: inline-block; float:left; margin-left:10px;}
a.button:hover { background:pink; color:black; }

ul.default { margin-bottom: 30px;line-height: 30px;text-align: left;column-count: 2;font-size: 14px;}
ul.default li a { font-weight: bold }

#lightbox { background:rgba(0,0,0,0.8); width:100vw; height:100vh; position: fixed;top:0px; opacity: 0; display: none; padding:30px; z-index:999; padding: 0; transition: all 500ms}
#lightbox.active { opacity: 1; display: block }
#lightbox.active img { display: block; margin:0px auto; max-height: calc(100vh - 60px); border-radius: 3px; max-height: 90%; max-width: 90%; position: absolute; top: 50%;left: 50%; transform: translate(-50%, -50%); }
#lightbox:hover { background:rgba(0,0,0,0.6); cursor: pointer; }

@media only screen and (max-width: 840px) {
  header { padding-top:15px; }
  header wr h1 { font-size: 34px; }
  main columns { columns:1; }
  header wr h2 { display: none }
  .footer { flex-wrap: wrap; justify-content: center; }
  .footer_left, .footer_right { margin: 0 10px 10px; }
  .footer_left { text-align: center; }
  .footer_right { justify-content: center; flex-wrap: wrap; }
  .footer_item_sub-item { width: 100%; justify-content: center; }*/
  main columns { columns: auto; padding:0px; margin:0px; }
  main gallery img {width: 50%;}
  main > wr > .third {width: 100%;}

 /* main > wr > .third {width: 100%;}
  #banner { max-width: 900px; margin: 0px auto 60px; padding: 0 5%; }
  #banner div.microsite { width: 100%; float: left; margin: 0; }
  #banner div.microsite img { width: 100%; border-radius: 3px; margin-bottom: 15px; }
  
  main gallery img { max-width: calc(50% - 20px); }
  main columns { columns: auto; padding:0px; margin:0px; }
  .footer { flex-wrap: wrap; justify-content: center; }
  .footer_left, .footer_right { margin: 0 10px 10px; }
  .footer_left { text-align: center; }
  .footer_right { justify-content: center; flex-wrap: wrap; }
  .footer_item_sub-item { width: 100%; justify-content: center; }*/
}
