body { background:#000; color:#fff; font-family: 'Alegreya', serif;  overflow-x: hidden}

p { display: block;max-width: 600px;color: #999;font-size: 23px;margin: 0px auto 30px auto;line-height: 32px;}
p.main { font-weight: bold; margin-bottom: 30px;}
p a { color:white; text-decoration: underline; }
b { font-weight: bold }
table { margin-bottom: 30px}
h { display: inline-block;vertical-align: top; width:calc(50% - 5px)}
hr { clear:both; }
h3 {font-size: 23px; margin-bottom: 10px}

yu { display: block }

yu#main { transition: opacity 250ms;  }
yu#main.loading { transition: opacity 0ms;  opacity: 0; }
yu#main.ready { transition: opacity 250ms; opacity: 1; }

page { display:block; max-width:960px; margin:0px auto; margin-bottom: 45px; transition: opacity 250ms; color:white; padding:30px }
page img.main { width: 100%;max-width: 100% !important; border-radius: 3px; margin-bottom: 30px }
page p.caption { font-style: italic; color:#999; font-size:16px; }
page img.thumbnail { width:33.33%; display:block; float:left; }
page p.intro {text-align: center;}
page h3 { max-width: 600px; display: block; font-size: 24px;line-height: 30px;color:#999;font-weight: bold; margin:0px auto 30px; }
page columns { display: block;columns: 2;column-gap: 30px;margin-bottom: 45px;margin:0px 10px 30px; padding: 0px 30px }
page columns h2 { display: block;font-size: 30px;color: #fff;margin-bottom: 30px;font-weight: normal;text-transform: uppercase;border-bottom:1px solid white;padding-bottom:20px; break-before: column  }
page columns p { font-size: 20px;font-weight: normal;line-height: 28px;color: #ccc;padding-right: 45px;font-family: 'Alegreya'}
page columns p a:hover { text-decoration: underline; }
page columns ul { display: block;margin-left:30px;font-size:18px;margin-bottom:30px; line-height: 26px }
page columns ul li {}
page columns a:link {text-decoration: none}
page columns a:hover {text-decoration: underline}
page columns list { margin-bottom:30px; }
page list { max-width: 600px; margin:0px auto; display: block; margin-bottom:30px; }
page list ln { display: block; font-size:20px; }
page list ln a { text-decoration: none;}
page list ln a:hover { text-decoration: underline; }
page img.thumbnail { border-radius: 3px;max-width: calc((100% / 3) - 20px);margin: 10px}
page gallery { display: block; padding:0px 30px; }
page gallery img { max-width: calc(25% - 20px);border-radius: 3px;margin: 10px;display: block;float: left;}
page gallery hr { margin-bottom:30px; }
page quote { display: block }
page quote p.text { font-size:20px; font-style: italic; color:white;}
page quote p.attrib { font-size:16px; padding-left:30px; }
page quote p.attrib:before { content:"— "; }


img.grey { -webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);filter: grayscale(100%);transition: all 0.5s ease;}
img.grey:hover {-webkit-filter: grayscale(0%);-moz-filter: grayscale(0%);filter: grayscale(0%);}

img.lightbox { cursor: pointer; transition: opacity 500ms}
img.lightbox:hover { opacity: 0.8 }

page gallery.thumbnails img { max-width: calc((100% / 3) - 20px) }
page wr { display: block; padding:0px 30px; }
#social, #projects, #gallery, #stories, #books { margin-bottom: 30px }
#social img { max-width: 2%; border-radius: 3px; margin: 5px }

#home img { max-width: 100% }

#banner { max-width: 900px;margin:0px auto 60px; padding:0px 30px;}
#banner h2 { margin-bottom: 30px;font-size:30px; }
#banner div.microsite { width: calc(33.33% - 20px);float: left;margin:10px }
#banner div.microsite p { text-align: justify;font-size: 14px;font-weight: normal;line-height: 20px;max-width: 400px;color: #999;margin-right: 10px}
#banner div.microsite img { max-width: 100%; border-radius: 3px;margin-bottom: 15px }
#games .button {display: block;width: 160px;background: #000;border: 3px solid #fff;border-radius: 80px;text-decoration: none; ; text-align: center; padding-bottom: 10px; padding-top: 10px }
#games .button:hover {background-color: #fff; color: black; cursor: pointer;}

a.button { font-size: 20px; border-radius: 100px; background:#fff; color:black; padding:0px 15px; line-height: 30px; display: inline-block; float:left; margin-left:10px;}
a.button:hover { background:pink; color:black; }

ul.default { margin-bottom: 30px;line-height: 30px;text-align: left;column-count: 2;font-size: 14px;}
ul.default li a { font-weight: bold }

header { display: block;background: #eee;text-align: center;color:#111;padding:40px 0px 10px;}
header wr h1 { font-size: 50px; text-transform: uppercase; letter-spacing: -2px; font-weight: bold; font-family: "alegreya-extrabold";}
header wr h1:before { content:"–"; display: inline-block; padding:0px 10px; font-weight: normal; }
header wr h1:after { content:"–"; display: inline-block; padding:0px 10px; font-weight: normal; }
header wr h2 { font-size:30px;position: fixed;top:10px;left:20px; font-family: "alegreya-bold"; }
header wr h2:hover { color:white; }
header wr #menu { display: block; text-align: center; font-weight: bold; font-family: "alegreya-bold"; font-size:20px; padding: 20px; margin-bottom: 10px }
header wr #menu a { display: inline-block;background-size: 100px;background-repeat: no-repeat;background-position: center top;padding-top:100px;min-width: 100px; transition: all 250ms }
header wr #menu a:hover { cursor: pointer; text-decoration: underline; background-position:center -5px;}

header wr #menu a.about { background-image: url(../media/interface/menu/about.png);  }
header wr #menu a.projects { background-image: url(../media/interface/menu/projects.png);  }
header wr #menu a.illustration { background-image: url(../media/interface/menu/illustration.png);  }
header wr #menu a.stories { background-image: url(../media/interface/menu/stories.png);  }
header wr #menu a.store { background-image: url(../media/interface/menu/store.png);  }
header wr #menu a.notes { background-image: url(../media/interface/menu/notes.png);  }

footer { display: block; background:white; color:black; padding-bottom:5px; padding:0px 30px; }
.footer_url { float: left; }
.footer_url--right { float: right; }
footer wr { max-width: 880px; padding: 30px 0px; margin:0px auto; display: block; }
footer wr a.social { display: inline-block;float: right;padding:7px;margin-left:5px;height:17px; vertical-align: top;}
footer wr a.social img { width:20px; filter: invert(100%); }
footer wr a.social:hover { opacity: 0.5 }
footer wr a.kofi { border-radius: 100px; background:#111; color:white; padding:0px 15px; line-height: 30px; display: inline-block; float:right; margin-left:10px;}
footer wr a.kofi:hover { background:pink; color:black; }
footer wr a.about { font-weight: bold; display: inline-block; margin-top:5px; }
footer wr a.about:hover { text-decoration: underline; }

#lightbox { background:rgba(0,0,0,0.8); width:100vw; height:100vh; position: fixed;top:0px; opacity: 0; display: none; padding:30px; z-index:999; padding: 0; transition: all 500ms}
#lightbox.active { opacity: 1; display: block }
#lightbox.active img { display: block; margin:0px auto; max-height: calc(100vh - 60px); border-radius: 3px; max-height: 90%; max-width: 90%; position: absolute; top: 50%;left: 50%; transform: translate(-50%, -50%); }
#lightbox:hover { background:rgba(0,0,0,0.6); cursor: pointer; }
/*
 * Responsive — https://github.com/friederjanmoerman
 */

@media (max-width: 470px) {
  #banner { max-width: 900px; margin: 0px auto 60px; padding: 0 5%; }
  #banner div.microsite { width: 100%; float: left; margin: 0; }
  #banner div.microsite img { width: 100%; border-radius: 3px; margin-bottom: 15px; }
  header wr h1 { font-size: 34px; }
  footer, .intro { padding: 0 5%; text-align: center; }
  page gallery img { max-width: calc(50% - 20px); }
  .footer_url { position: relative; display: block; float: none; margin: 0 auto; display: inline-block; overflow: hidden; }
  .footer_url--right { float: none; }
  page columns { columns: auto; }
}
