body { background:#000; color:#fff; font-family: "alte_haas_grotesk_regular", "Helvetica Neue", Helvetica, Arial;  overflow-x: hidden;}

h1 { display: block; font-size:40px; font-weight: bold; text-align: center; color:#fff; margin-top: 30px; margin-bottom: 10px}
h1 small { font-weight: normal; font-size:12px; display:block; }
h2 { display: block; font-size:30px; text-align: center; color:#fff; margin-bottom: 30px; font-weight:normal; font-family: "alte_haas_grotesk_bold"}
h2 small {  }
h3 { font-style: italic;display: block;margin-bottom: 30px;font-size: 20px;max-width: 50% }
p { display: block;max-width: 600px;color: #999;font-size: 23px;margin: 0px auto 30px auto;line-height: 32px;}
p.main { font-weight: bold; margin-bottom: 30px;}
p a { color:white; text-decoration: underline; }
b { font-weight: bold }
table { margin-bottom: 30px}
h { display: inline-block;vertical-align: top; width:calc(50% - 5px)}
hr { clear:both; }
pre { max-width: 600px;margin: 0px auto;margin-bottom: 30px;font-family: courier;font-size: 12px;line-height: 20px;background: #fff;color: #000;padding: 15px;border-radius: 3px }

#banner { max-width: 900px;margin:0px auto 60px }
#banner div.microsite { width: calc(33.33% - 10px);float: left;margin:5px }
#banner div.microsite p { text-align: justify; font-size: 12px;font-weight: normal;line-height: 20px;max-width: 400px;color: #999; padding:5px }
#banner div.microsite img { max-width: calc(100% - 10px);border-radius: 5px;margin: 5px }

#menu { display: block; text-align: center; font-family: alte_haas_grotesk_regular; font-weight: bold; font-size:20px; padding: 20px; margin-bottom: 10px }
#menu a { display: inline-block; margin: 0px 10px; }
#menu a:hover { cursor: pointer;}

#about p { font-size: 14px;font-weight: normal;line-height: 20px;max-width: 400px;color: #999 }
#about img { max-width: calc(100% - 30px); margin-bottom: 30px}
#about columns { display: block;columns: 2;column-gap: 30px;margin-bottom: 45px }
#about list { display: block;margin-bottom: 30px }
#about list ln { display: block; }

#store p { font-size: 14px;font-weight: normal;line-height: 20px;max-width: 400px;color: #999 }

page { display:none; max-width:900px; margin:0px auto; }
page:target { display: block }

page img.main { width: 100%;max-width: 100% !important }
page img.thumbnail { width:33.33%; display:block; float:left; }

#social, #projects, #gallery, #games, #books { margin-bottom: 30px }
#social img { max-width: 2%; border-radius: 5px; margin: 5px }

#projects img, #games img, #books img, #gallery img { max-width: calc(25% - 10px); border-radius: 5px; margin: 5px; display: block; float:left; }

#games .button {display: block;width: 160px;background: #000;border: 3px solid #fff;border-radius: 80px;text-decoration: none; ; text-align: center; padding-bottom: 10px; padding-top: 10px }
#games .button:hover {background-color: #fff; color: black; cursor: pointer;}

#ink p, #markl p, #wiktopher p, #fungi p, #knots p, #ginger p, #sprite p, #vendredi13 p, #bulle p, #oquonie p, #malisse p, #thousandrooms p, #oquoniewalkthrough p, #grimgrains p, #cerbellum p { font-size: 14px;font-weight: normal;line-height: 20px;max-width: 400px;color: #999 }
#ink img, #markl img, #wiktopher img, #fungi img, #knots img, #ginger img, #sprite img, #vendredi13 img, #bulle img, #oquonie img, #malisse img, #thousandrooms img, #oquoniewalkthrough img, #grimgrains img, #cerbellum img { border-radius: 5px;max-width: 30%; margin-bottom: 30px; margin-left: 10px}
#ink columns, #markl columns, #wiktopher columns, #fungi columns, #knots columns, #ginger columns, #sprite columns, #vendredi13 columns, #bulle columns, #oquonie columns, #malisse columns, #thousandrooms columns, #oquoniewalkthrough columns, #grimgrains columns, #cerbellum columns { display: block;columns: 2;column-gap: 30px;margin-bottom: 45px; }

ul.default { margin-bottom: 30px;line-height: 30px;text-align: left;column-count: 2;font-size: 14px;}
ul.default li a { font-weight: bold }